```
File: supabase_api.ipynb
Author: Michael Lucky
Date: September 14, 2023
Description: This notebook is intended to be used as a template for using the Supabase API to insert data into a supabase database.

Copyright (c) 2023 Jelloow

For inquiries or permissions regarding the use of this code, please contact:
info@jelloow.com
```

In [1]:
import logging
import tomllib
from supabase import create_client, Client

# format logging
logging.basicConfig(format='%(asctime)s: %(name)s: %(levelname)s: %(message)s', level=logging.DEBUG, datefmt='%Y-%m-%dT%H:%M:%S%z')

# create logger
log = logging.getLogger(__name__)

# read in .env file
with open('./.env', 'rb') as f:
    env = tomllib.load(f)

In [2]:
url: str = env["SUPABASE_URL"]
key: str = env["SUPABASE_KEY"]
supabase: Client = create_client(url, key)

## Fetch data

In [3]:
# getting data
response = supabase.table('countries').select("*").execute()
log.info(response)

2023-09-15 17:40:23,409:INFO - HTTP Request: GET https://pkmuqksrwzzzfizsbcsv.supabase.co/rest/v1/countries?select=%2A "HTTP/1.1 200 OK"
2023-09-15 17:40:23,410:INFO - data=[{'id': 1, 'created_at': '2023-09-14T15:42:28.149148+00:00', 'name': 'Denmark'}, {'id': 2, 'created_at': '2023-09-14T15:49:43.567724+00:00', 'name': 'United States'}] count=None

In [4]:
# selecting specific columns
response = supabase.table('countries').select('name').execute()
log.info(response)

2023-09-15 17:40:27,707:INFO - HTTP Request: GET https://pkmuqksrwzzzfizsbcsv.supabase.co/rest/v1/countries?select=name "HTTP/1.1 200 OK"
2023-09-15 17:40:27,708:INFO - data=[{'name': 'Denmark'}, {'name': 'United States'}] count=None

In [5]:
# query with count option
response = supabase.table('countries').select('*', count='exact').execute()
log.info(response)

2023-09-15 17:40:29,993:INFO - HTTP Request: GET https://pkmuqksrwzzzfizsbcsv.supabase.co/rest/v1/countries?select=%2A "HTTP/1.1 200 OK"
2023-09-15 17:40:29,994:INFO - data=[{'id': 1, 'created_at': '2023-09-14T15:42:28.149148+00:00', 'name': 'Denmark'}, {'id': 2, 'created_at': '2023-09-14T15:49:43.567724+00:00', 'name': 'United States'}] count=2

## Insert data

In [6]:
# inserting data
data, count = supabase.table('countries').insert({"id": 3, "name": "India"}).execute()
log.info(data)
log.info(count)

2023-09-15 17:40:44,097:INFO - HTTP Request: POST https://pkmuqksrwzzzfizsbcsv.supabase.co/rest/v1/countries "HTTP/1.1 201 Created"
2023-09-15 17:40:44,098:INFO - ('data', [{'id': 3, 'created_at': '2023-09-15T23:40:43.998583+00:00', 'name': 'India'}])
2023-09-15 17:40:44,098:INFO - ('count', None)